[submodule "roms/vgabios"]
	path = roms/vgabios
	url = git@github.com:qemu/vgabios.git
[submodule "roms/seabios"]
	path = roms/seabios
	url = git@github.com:coreboot/seabios.git
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = git@github.com:qemu/SLOF.git
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = git@github.com:ipxe/ipxe.git
[submodule "roms/openbios"]
	path = roms/openbios
	url = git@github.com:openbios/openbios.git
[submodule "roms/openhackware"]
	path = roms/openhackware
	url = git@github.com:qemu/openhackware.git
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = git@github.com:qemu/qemu-palcode.git
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = git@github.com:qemu/sgabios.git
[submodule "pixman"]
	path = pixman
	url = git://anongit.freedesktop.org/pixman
[submodule "dtc"]
	path = dtc
	url = git@github.com:qemu/dtc.git
[submodule "roms/u-boot"]
	path = roms/u-boot
	url = git@github.com:u-boot/u-boot.git
